
<ins class="adsbygoogle" id="after_button"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-9764299659831882"
     data-ad-slot="2179701311"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script></div>
													<div class="col s1 hide-on-small-only"></div>
			  	<div class="col m10 s12 margin_top_10 border_form padding_20 padding_0_m">
					<div class="col s12">
				      <ul class="tabs margin_top_20">
				        <li class="tab col s4"><a id="tab2" class=" border_radius_l font_s12_m" href="#test2">Distancia recorrida</a></li>
				        <li class="tab col s4"><a id="tab1" class=" font_s12_m" style='border: 1px solid #307FAF;' href="#test1">Aceleración</a></li>
				        <li class="tab col s4"><a id="tab3" class=" border_radius_r font_s12_m" href="#test3">Velocidad Media</a></li>
				      </ul>
				    </div>
				  	<div id="test2">
						<div class="input-field col s12 margin_zero padding_l_r_20 padding_10_m">
							<p class="padding_5"><strong>Calcular:</strong></p>
							    <select name="dis" id="dis" class="browser-default">
																	       <option value="v" selected>Velocidad</option>
								      <option value="t">Hora</option>
								      <option value="d">Distancia</option>
							   									    </select>
						</div>
						<div class="input-field col m4 s9 margin_zero padding_l_r_20 padding_10_m">
							<strong><p class="padding_5" id="x">Distancia</p></strong>
							<input type="number" step="any" name="x" value="40" class="validate" placeholder="00">
						</div>
						<div class="col m2 s3 padding_rl20_10 dis_unit">
						    <p class="padding_5">&nbsp;</p>
						    <select name="dis1_unit" id="dis1_unit" class="browser-default">
								<option value="in">in</option>
								<option value="ft">ft</option>
								<option value="yd">yd</option>
								<option value="m" selected>m</option>
								<option value="cm">cm</option>
								<option value="km">km</option>
								<option value="mi">mi</option>
						    </select>
						</div>
						<div class="col m2 s3 padding_rl20_10 val_unit">
						    <p class="padding_5">&nbsp;</p>
						    <select name="val_unit" id="val_unit" class="browser-default">
								<option value="in/s">in/s</option>
                                <option value="ft/s">ft/s</option>
                                <option value="cm/s">cm/s</option>
                                <option value="m/s" selected="">m/s</option>
                                <option value="mi/h">mi/h</option>
                                <option value="km/h">km/h</option>
						    </select>
						</div>
						<div class="input-field col m4 s9 margin_zero padding_l_r_20 padding_10_m">
							<strong><p class="padding_5" id="y">Time</p></strong>
							<input type="number" step="any" name="y" value="9" class="validate" placeholder="00">
						</div>
						<div class="col m2 s3 padding_rl20_10 dist_unit">
							<p class="padding_5">&nbsp;</p>
						    <select name="dis_unit" id="dis_unit" class="browser-default">
								<option value="in">in</option>
								<option value="ft">ft</option>
								<option value="yd">yd</option>
								<option value="m" selected>m</option>
								<option value="cm">cm</option>
								<option value="km">km</option>
								<option value="mi">mi</option>
						    </select>
						</div>
						<div class="col m2 s3 padding_rl20_10 time_unit">
							<p class="padding_5">&nbsp;</p>
						    <select name="time_unit" id="time_unit" class="browser-default">
															       <option value="s" selected>s</option>
							      <option value="m">m</option>
							      <option value="h">h</option>
						   								    </select>
						</div>
					</div>
					<div class="display_none" id="test1">
						<div class="input-field col m6 s12 margin_zero padding_l_r_20 padding_10_m">
							<p class="padding_5"><strong>Calcular:</strong></p>
						    <select name="method" id="method" class="browser-default">
															       <option value="i_v" selected>Velocidad inicial</option>
							      <option value="t">Hora</option>
							      <option value="a">Aceleración</option>
							      <option value="f_v">Velocidad final</option>
						   								    </select>
						</div>
						<div class="input-field col m4 s9 margin_zero padding_l_r_20 padding_10_m">
							<strong><p class="padding_5" id="x1"></p></strong>
							<input type="number" step="any" name="x1" value="" class="validate" placeholder="00">
						</div>
						<div class="col m2 s3 padding_rl20_10 a_unit">
							<p class="padding_5">&nbsp;</p>
						    <select name="a_unit" id="a_unit" class="browser-default">
								<option value="in/s²">in/s²</option>
                                <option value="ft/s²">ft/s²</option>
                                <option value="cm/s²">cm/s²</option>
                                <option value="m/s²" selected="">m/s²</option>
                                <option value="mi/s²">mi/s²</option>
                                <option value="km/s²">km/s²</option>
						    </select>
						</div>
						<div class="col m2 s3 padding_rl20_10 iv_unit">
							<p class="padding_5">&nbsp;</p>
						    <select name="iv_unit" id="iv_unit" class="browser-default">
								<option value="in/s">in/s</option>
                                <option value="ft/s">ft/s</option>
                                <option value="cm/s">cm/s</option>
                                <option value="m/s" selected="">m/s</option>
                                <option value="mi/h">mi/h</option>
                                <option value="km/h">km/h</option>
						    </select>
						</div>
						<div class="input-field col m4 s9 margin_zero padding_l_r_20 padding_10_m">
							<strong><p class="padding_5" id="y1"></p></strong>
							<input type="number" step="any" name="y1" value="" class="validate" placeholder="00">
						</div>
						<div class="col m2 s3 aa_unit padding_rl20_10">
							<p class="padding_5">&nbsp;</p>
						    <select name="aa_unit" id="aa_unit" class="browser-default">
								<option value="in/s²">in/s²</option>
                                <option value="ft/s²">ft/s²</option>
                                <option value="cm/s²">cm/s²</option>
                                <option value="m/s²" selected="">m/s²</option>
                                <option value="mi/s²">mi/s²</option>
                                <option value="km/s²">km/s²</option>
						    </select>
						</div>
						<div class="col m2 s3 padding_rl20_10 atime_unit">
							<p class="padding_5">&nbsp;</p>
						    <select name="atime_unit" id="atime_unit" class="browser-default">
															       <option value="s" selected>s</option>
							      <option value="m">m</option>
							      <option value="h">h</option>
						   								    </select>
						</div>
						<div class="input-field col m4 s9 margin_zero padding_l_r_20 padding_10_m">
							<strong><p class="padding_5" id="z1"></p></strong>
							<input type="number" step="any" name="z1" value="" class="validate" placeholder="00">
						</div>
						<div class="col m2 s3 padding_rl20_10 ftime_unit">
							<p class="padding_5">&nbsp;</p>
						    <select name="ftime_unit" id="ftime_unit" class="browser-default">
															       <option value="s" selected>s</option>
							      <option value="m">m</option>
							      <option value="h">h</option>
						   								    </select>
						</div>
						<div class="col m2 s3 padding_rl20_10 fv_unit">
							<p class="padding_5">&nbsp;</p>
						    <select name="fv_unit" id="fv_unit" class="browser-default">
								<option value="in/s">in/s</option>
                                <option value="ft/s">ft/s</option>
                                <option value="cm/s">cm/s</option>
                                <option value="m/s" selected="">m/s</option>
                                <option value="mi/h">mi/h</option>
                                <option value="km/h">km/h</option>
						    </select>
						</div>
					</div>
					<div class="display_none" id="test3">
						<div class="col s12 padding_0 add_row" style="height: 200px;overflow-y: auto;">
							<div class="input-field col m4 s4 margin_zero padding_l_r_20 padding_10_m">
								<p class="padding_5"><strong>Velocidad (v)</strong></p>
								<input type="number" step="any" id="v1" class="validate" placeholder="00">
							</div>
							<div class="col m2 s2 padding_rl20_10">
								<p class="padding_5">&nbsp;</p>
							    <select name="val_unit" id="val_unit1" class="browser-default">
									<option value="in/s">in/s</option>
	                                <option value="ft/s">ft/s</option>
	                                <option value="cm/s">cm/s</option>
	                                <option value="m/s" selected="">m/s</option>
	                                <option value="mi/h">mi/h</option>
	                                <option value="km/h">km/h</option>
							    </select>
							</div>
							<div class="input-field col m4 s4 margin_zero padding_l_r_20 padding_10_m">
								<p class="padding_5"><strong>Hora (s)</strong></p>
								<input type="number" step="any" id="t1" class="validate" placeholder="00">
							</div>
							<div class="col m2 s2 padding_rl20_10">
								<p class="padding_5">&nbsp;</p>
							    <select name="time_unit" id="time_unit1" class="browser-default">
									<option value="s" selected>s</option>
									<option value="m">m</option>
									<option value="h">h</option>
							    </select>
							</div>
							<div class="input-field col m4 s4 margin_zero padding_l_r_20 padding_10_m">
								<p class="padding_5">&nbsp;</p>
								<input type="number" step="any" id="v2" class="validate" placeholder="00">
							</div>
							<div class="col m2 s2 padding_rl20_10">
								<p class="padding_5">&nbsp;</p>
							    <select name="val_unit" id="val_unit2" class="browser-default">
									<option value="in/s">in/s</option>
	                                <option value="ft/s">ft/s</option>
	                                <option value="cm/s">cm/s</option>
	                                <option value="m/s" selected="">m/s</option>
	                                <option value="mi/h">mi/h</option>
	                                <option value="km/h">km/h</option>
							    </select>
							</div>
							<div class="input-field col m4 s4 margin_zero padding_l_r_20 padding_10_m">
								<p class="padding_5">&nbsp;</p>
								<input type="number" step="any" id="t2" class="validate" placeholder="00">
							</div>
							<div class="col m2 s2 padding_rl20_10">
								<p class="padding_5">&nbsp;</p>
							    <select name="time_unit" id="time_unit2" class="browser-default">
									<option value="s" selected>s</option>
									<option value="m">m</option>
									<option value="h">h</option>
							    </select>
							</div>
						</div>
						<input type="hidden" name="ave_res" id="res">
						<div class="input-field padding_l_r_20 padding_10_m col s12 center margin_zero">
							<button type="button" name="button" id="add" class="btn-small col s4 border_radius_50" style="margin: 10px 0px 20px 0px;">Añadir fila</button>
						</div>
					</div>
				</div>
				<div class="col s1 hide-on-small-only"></div>
									<div class="adds col s12 margin_top_15 center before_btn"><span style="font-size:12px;display: block;" class="ad_text">ADVERTISEMENT</span>
<div id="adngin-incontent_top-0"></div></div>
												<div class="input-field col s12 center margin_zero">
	      			<button type="submit" name="submit" id="calculate" value="distance" class="white-text btn-small border_radius_50 waves-effect waves-light margin_top_10">Calcular</button>
	      		</div>
	      		<div class="col s1 hide-on-small-only"></div>
	      		<div class="col m10 s12 margin_top_20 border_form padding_20 padding_0_m">
	      			<p class="col s12 font_size20 color_blue"><strong>Calcular Velocidad by </strong><span class="font_size20">\( v_i^2 = v_f^2 + 2as \)</span></p>
	      			<p class="col s12 font_size20 center padding_b_10 v_i1">\( v_i = \sqrt{v_f^2 - 2as} \)</p>
	      			<p class="col s12 font_size20 center padding_b_10 dis1">\( s = \frac{v_f^2 - v_i^2}{2a} \)</p>
	      			<p class="col s12 font_size20 center padding_b_10 acc1">\( a = \frac{v_f^2 - v_i^2}{2s} \)</p>
	      			<p class="col s12 font_size20 center padding_b_10 v_f1">\( v_f = \sqrt{v_i^2 + 2as} \)</p>
					<div class="input-field col m6 s12 margin_zero padding_l_r_20 padding_10_m">
						<p class="padding_5"><strong>Calcular:</strong></p>
					    <select name="methodn" id="methodn" class="browser-default">
													       <option value="i_v" selected>Velocidad inicial</option>
						      <option value="dis">Displacement</option>
						      <option value="a">Aceleración</option>
						      <option value="f_v">Velocidad final</option>
					   							    </select>
					</div>
					<div class="input-field col m4 s9 margin_zero padding_l_r_20 padding_10_m">
						<strong><p class="padding_5" id="one"></p></strong>
						<input type="number" step="any" name="one" value="" class="validate" placeholder="00">
					</div>
					<div class="col m2 s3 padding_rl20_10 a_unit1">
						<p class="padding_5">&nbsp;</p>
					    <select name="a_unit1" id="a_unit1" class="browser-default">
							<option value="in/s²">in/s²</option>
                            <option value="ft/s²">ft/s²</option>
                            <option value="cm/s²">cm/s²</option>
                            <option value="m/s²" selected="">m/s²</option>
                            <option value="mi/s²">mi/s²</option>
                            <option value="km/s²">km/s²</option>
					    </select>
					</div>
					<div class="col m2 s3 padding_rl20_10 iv_unit1">
						<p class="padding_5">&nbsp;</p>
					    <select name="iv_unit1" id="iv_unit1" class="browser-default">
							<option value="in/s">in/s</option>
                            <option value="ft/s">ft/s</option>
                            <option value="cm/s">cm/s</option>
                            <option value="m/s" selected="">m/s</option>
                            <option value="mi/h">mi/h</option>
                            <option value="km/h">km/h</option>
					    </select>
					</div>
					<div class="input-field col m4 s9 margin_zero padding_l_r_20 padding_10_m">
						<strong><p class="padding_5" id="two"></p></strong>
						<input type="number" step="any" name="two" value="" class="validate" placeholder="00">
					</div>
					<div class="col m2 s3 aa_unit1 padding_rl20_10">
						<p class="padding_5">&nbsp;</p>
					    <select name="aa_unit1" id="aa_unit1" class="browser-default">
							<option value="in/s²">in/s²</option>
                            <option value="ft/s²">ft/s²</option>
                            <option value="cm/s²">cm/s²</option>
                            <option value="m/s²" selected="">m/s²</option>
                            <option value="mi/s²">mi/s²</option>
                            <option value="km/s²">km/s²</option>
					    </select>
					</div>
					<div class="col m2 s3 padding_rl20_10 dis_unit1">
						<p class="padding_5">&nbsp;</p>
					    <select name="dis_unit1" id="dis_unit1" class="browser-default">
							<option value="in">in</option>
                            <option value="ft">ft</option>
                            <option value="mile">mi</option>
                            <option value="cm">cm</option>
                            <option value="m" selected="">m</option>
                            <option value="km">km</option>
					    </select>
					</div>
					<div class="input-field col m4 s9 margin_zero padding_l_r_20 padding_10_m">
						<strong><p class="padding_5" id="three"></p></strong>
						<input type="number" step="any" name="three" value="" class="validate" placeholder="00">
					</div>
					<div class="col m2 s3 padding_rl20_10 dis_unit12">
						<p class="padding_5">&nbsp;</p>
					    <select name="dis_unit12" id="dis_unit12" class="browser-default">
							<option value="in">in</option>
                            <option value="ft">ft</option>
                            <option value="mile">mi</option>
                            <option value="cm">cm</option>
                            <option value="m" selected="">m</option>
                            <option value="km">km</option>
					    </select>
					</div>
					<div class="col m2 s3 padding_rl20_10 fv_unit1">
						<p class="padding_5">&nbsp;</p>
					    <select name="fv_unit1" id="fv_unit1" class="browser-default">
							<option value="in/s">in/s</option>
                            <option value="ft/s">ft/s</option>
                            <option value="cm/s">cm/s</option>
                            <option value="m/s" selected="">m/s</option>
                            <option value="mi/h">mi/h</option>
                            <option value="km/h">km/h</option>
					    </select>
					</div>
				</div>
				<div class="col s1 hide-on-small-only"></div>
									<div class="adds col s12 margin_top_15 center before_btn"><span style="font-size:12px;display: block;" class="ad_text">ADVERTISEMENT</span>
<div id="adngin-incontent_top-0"></div></div>
												<div class="input-field col s12 center margin_zero">
	      			<button type="submit" name="submit" value="new_velo" class="white-text btn-small border_radius_50 waves-effect waves-light margin_top_10">Calcular</button>
	      		</div>